/* General Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling */
.container h2 {
    color: #C0C0C0;
    font-weight: bold;
    margin-bottom: 1rem;
}

.container p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #333; /* dark grey */
}

.container a {
    color: #C0C0C0;
}

.container a:hover {
    color: #C0C0C0;
    text-decoration: none;
}